// https://colorswall.com/palette/3/
$primary: #0275d8;
$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;
$inverse: #292b2c;
$faded: #f7f7f7;

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, serif;
}

.alert-danger {
  color: #fff;
  background-color: $danger;
  border-color: $danger;
}

header {
  height: 45px;
  background-color: #2ecc71;

  .logo {
    display: inline-block;

    h1 {
      font-size: 2rem;
      font-weight: 500;
      padding: 4px 10px 0;
      margin: 0;

      a {
        color: white;

        &:hover {
          text-decoration: none;
        }
      }

      small {
        color: #01313f;
        font-style: italic;
        letter-spacing: initial;
        font-size: 50%;
      }
    }
  }

  .tools {
    float: right;
    padding: 7px 14px;
    display: flex;

    a {
      padding: .2rem .5rem;
      color: initial;
      display: inline-block;

      .svg-inline--fa.fa-lg {
        // correct default alignment
        vertical-align: middle;
      }
    }

    .dropdown .dropdown-menu .menu-item {
      display: block;
      width: 100%;
      padding: .25rem 1.5rem;
      clear: both;
      font-weight: 400;
      color: #212529;
      text-align: inherit;
      white-space: nowrap;
      background-color: #0000;
      border: 0;
      cursor: pointer;

      label {
        cursor: pointer;
      }
    }
  }
}

main {
  height: calc(100vh - 45px);
  display: flex;

  .resizable {
    position: relative;

    .divider {
      height: 100%;
      width: 3px;
      background-color: grey;
      position: absolute;
      right: 0;
      top: 0;

      &:hover {
        cursor: col-resize ;
      }
    }

    .editor-container {
      height: 100%;
      width: calc(100% - 3px);
    }
  }

  .iframe-container {
    position: relative;
    overflow: hidden;

    .alert {
      margin-left: 46px;
      position: absolute;
      top: 20px;
      right: 20px;
    }

    iframe {
      border: none;
      width: 100%;
      height: 100%;
      margin: auto;
      display: block;
    }
  }
}
