body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, serif;
}

main {
    height: calc(100vh - 45px);
    display: flex;
}

header {
    height: 45px;
    background-color: #2ecc71;
}
header .logo {
    cursor: pointer;
    display: inline-block;
}
header .logo h1 {
    font-size: 2rem;
    color: white;
    letter-spacing: .4rem;
    font-weight: 400;
    padding: 3px 10px;
    margin: 0;
}
header .logo h1 small {
    color: #01313f;
    font-style: italic;
    letter-spacing: initial;
    font-size: 50%;
}

header .tools {
    float: right;
    padding: 7px 14px;
}

header .tools .dropdown .dropdown-menu .menu-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: #0000;
    border: 0;
    cursor: pointer;
}

header .tools .dropdown .dropdown-menu .menu-item label {
    cursor: pointer;
}
