<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <style type="text/css">
          body { padding: 50px; font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }
          a { color: #00B7FF; }
      </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
