// https://colorswall.com/palette/3/
$primary: #0275d8;
$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;
$inverse: #292b2c;
$faded: #f7f7f7;

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, serif;
}

.alert-danger {
  color: #fff;
  background-color: $danger;
  border-color: $danger;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: lightgrey;
  opacity: .6;
  height: 100%;
  width: 100%;
  text-align: center;

  .spinner {
    position: absolute;

    &.fa-2x {
      top: calc(50% - 16px);
      left: calc(50% - 16px);
    }

    &.fa-5x {
      top: calc(50% - 40px);
      left: calc(50% - 40px);
    }
  }
}

header {
  height: 45px;
  background-color: #2ecc71;
  color: #01313f;

  .login,
  .login:hover,
  .avatar-btn,
  .avatar-btn:hover {
    color: #01313f;
  }

  .logo {
    display: inline-block;

    h1 {
      font-size: 2rem;
      font-weight: 500;
      padding: 4px 15px 0;
      margin: 0;

      span {
        color: white;
      }

      small {
        font-style: italic;
        letter-spacing: initial;
        font-size: 95%;
      }

      a {
        color: black;
        font-size: 60%;
        margin-left: 5px;

        &:hover {
          text-decoration: none;
          color: lighten(black, 20%);
        }
      }
    }
  }

  .tools {
    float: right;
    padding: 3px 10px;
    display: flex;
    line-height: 30px;

    .dropdown {
      margin-right: .75rem;
    }

    .avatar-btn {
      padding: 0;

      .avatar-img {
        height: 35px;
        width: 35px;
        border-radius: 50%;
      }
    }

    .dropdown-menu .dropdown-item {
      color: #01313f;

      &:active {
        background-color: #2ecc71;
      }
    }
  }
}

main {
  height: calc(100vh - 45px);
  display: flex;

  .resizable {
    position: relative;
    min-width: calc(300px + 10px);

    .divider {
      height: 100%;
      width: 10px;
      background-color: #2ecc70;
      position: absolute;
      right: 0;
      top: 0;
      cursor: col-resize;

      .fa-grip-lines-vertical {
        position: absolute;
        top: calc(50% - 7px);
        font-size: smaller;
        color: #004e65;
        left: 1.5px;
      }
    }

    .editor-container {
      height: 100%;
      width: calc(100% - 10px);
    }
  }

  .left-block {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .right-block {
    display: flex;
    flex-direction: column;
    min-width: 300px;

    .iframe-container {
      position: relative;
      overflow: hidden;

      .alert {
        margin-left: 46px;
        position: absolute;
        top: 20px;
        right: 20px;
      }

      iframe {
        border: none;
        width: 100%;
        height: 100%;
        margin: auto;
        display: block;
      }
    }
  }
}

#console {
  background: #e8e8e8;
  color: #292b2c;
  width: 100%;

  .console-header {
    height: 30px;
    background: #333333;
    color: #dadada;
    position: relative;
    font-size: .95rem;
    padding: 4px;

    .icons {
      font-size: .7em;
      margin-left: 10px;

      strong {
        margin-left: 10px;
      }

      .log {
        color: #afafaf;
      }

      .warn {
        color: $warning;
      }

      .error {
        color: $danger;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .clear-console {
      margin-left: 15px;
      color: #e4e4e4;
      font-size: .7em;

      &:hover {
        cursor: pointer;
        color: darken(#e4e4e4, 15%);
      }
    }

    .title {
      margin: 5px 0 0 5px;

      &:hover {
        cursor: pointer;
        color: darken(#dadada, 15%);
      }
    }

    .tools {
      position: absolute;
      top: 4px;
      right: 5px;

      .close-console {
        &:hover {
          cursor: pointer;
          color: darken(#dadada, 15%);
        }
      }
    }
  }

  .console-output {
    height: 200px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: .7em;

      li {
        border-bottom: 1px solid #d4d4d4;
        padding: 3px 6px;
        font-family: "SF Mono", "Monaco", "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
        white-space: pre;
        color: #777777;

        &.error {
          background: #bf5b7436;
          color: $danger;
        }

        &.warn {
          background: #f3ca634d;
          color: $warning;
        }
      }
    }
  }
}

footer {
  background-color: #004e65;
  height: 30px;
  font-size: 80%;
  padding: 5px 10px;

  .version {
    margin-right: 10px;
    color: #2ecc70;
    font-style: italic;

    a {
      color: inherit;
    }
  }
}

.modal {
  .gist-list {
    .modal-content {
      position: relative;
      height: 100%;

      .modal-body {
        text-align: center;
      }

      .modal-header {
        background-color: #2ecc70;
        color: #004e65;
      }

      .gists {
        padding: 0;
        list-style: none;

        .gist {
          &:hover {
            background-color: #f8f9fa;
          }

          button {
            color: #004e65;

            .fa-2x {
              font-size: 1.5em;;
            }
          }
        }
      }
    }
  }
}
